
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .projectCard {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

body.dark-mode .projectCard a {
    color: #82aaff;
}
